Resources:
  NewAnalysisRequestQueue: 
    Type: AWS::SQS::Queue
  NewAnalysisRequestTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
      - Endpoint:
          Fn::GetOptionSetting: {DefaultValue: nobody@example.com, OptionName: NewAnalysisEmail}
        Protocol: email
      - Endpoint:
          Fn::GetAtt: [NewAnalysisRequestQueue, Arn]
        Protocol: sqs
  AllowSNS2SQSPolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Id: PublicationPolicy
        Statement:
        - Action: ['sqs:SendMessage']
          Condition:
            ArnEquals:
              aws:SourceArn: {Ref: NewAnalysisRequestTopic}
          Effect: Allow
          Principal: {AWS: '*'}
          Resource:
            Fn::GetAtt: [NewAnalysisRequestQueue, Arn]
          Sid: Allow-SNS-SendMessage
        Version: '2008-10-17'
      Queues:
      - {Ref: NewAnalysisRequestQueue}
