option_settings:
  aws:elasticbeanstalk:customoption:
    NewAnalysisEmail: georgiana@machinemedicine.com
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    ANALYSIS_REQUEST_TABLE: motion-analysis-requests
    NEW_ANALYSIS_REQUEST_TOPIC: '`{"Ref" : "NewAnalysisRequestTopic"}`'
    NEW_VIDEO_UPLOADED_QUEUE: https://sqs.eu-west-1.amazonaws.com/878450965485/NewVideoUploaded
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx